go 1.22.0

use (
	./design-patterns/01-single-responsibility-principle
	./design-patterns/02-open-closed-principle
	./design-patterns/03-liskovs-substitution-principle
	./design-patterns/04-interface-segregation-principle
	./design-patterns/05-dependency-inversion-principle
	./design-patterns/06-builder-pattern
	./design-patterns/07-factory-pattern
	./design-patterns/08-prototype-pattern
	./design-patterns/09-singleton-pattern
	./design-patterns/10-adapter-pattern
	./design-patterns/11-bridge-pattern
	./design-patterns/12-composite-pattern
	./design-patterns/13-decorator-pattern
	./design-patterns/14-facade-pattern
	./design-patterns/20-iterator-pattern
	./design-patterns/21-mediator-pattern
	./design-patterns/23-observer-pattern
	./design-patterns/24-state-pattern
	./design-patterns/25-strategy-pattern
	./design-patterns/27-visitor-pattern
	./golang
	./data-structures
	./algorithms/leetcode
	./examples/cli-reminder
	./examples/basic-http-server
	./examples/basic-smtp-server
	./examples/mux-CRUD-api
	./examples/mongo-CRUD-api
	./examples/postgres-CRUD-api
	./examples/echo-CRUD-api
	./demos/saas-app-demo
	./demos/subscription-service
)
